html {
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.brand-campaign-main {
    max-width: 1100px;
    margin: auto;
}

/********************* 
Grid pattern 1 
**********************/
@media only screen and (min-width: 768px) {
    .grid-background-container-1 {
        background-image: url("images-new/BrandCampaign-LandingPage-YellowGraphicLeft-v3.svg");
        background-position: top 3rem left 0;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
    }
}

.brand-grid-pattern-1 {
    grid-template-columns: 1fr;
    max-width: 1350px;
    margin: auto;
}

.brand-grid-pattern-1 > div:nth-child(1) { 
    order: 2;
}

.brand-grid-pattern-1 > div:nth-child(2) { 
    order: 1;
}

.brand-grid-pattern-1 > div:nth-child(3) { 
    order: 3;
}

.brand-grid-pattern-1 > div:nth-child(4) { 
    order: 4;
}

.brand-grid-pattern-1 > div:nth-child(5) { 
    order: 5;
}

@media only screen and (min-width: 768px) {
    .brand-grid-pattern-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .brand-grid-pattern-1 > div:nth-child(1), .brand-grid-pattern-1 > div:nth-child(2) { 
        order: unset;
    }
}

/********************* 
Grid column span classes
**********************/
@media only screen and (min-width: 768px) {
    .grid-span-2 {
        grid-column: span 2;
    }

    .grid-span-3 {
        grid-column: span 3;
    }

    .grid-span-4 {
        grid-column: span 4;
    }

    .grid-span-5 {
        grid-column: span 5;
    }

    .grid-span-6 {
        grid-column: span 6;
    }
}

/********************* 
Grid pattern 2
**********************/
@media only screen and (min-width: 768px) {
    .grid-background-container-2 {
        background-image: url("images-new/BrandCampaign-LandingPage-YellowGraphicLRight-v3.svg");
        background-position: top 6rem right -.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
    }
}

.brand-grid-pattern-2 {
    grid-template-columns: 1fr;
    background-color: transparent;
    max-width: 1350px;
    margin: auto;
}

.brand-vertical-image {
    /* display: none; */
    display: inline;
}

@media only screen and (min-width: 768px) {
    .brand-grid-pattern-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .brand-vertical-image {
        display: inline;
        grid-column: 7 / span 2;
        grid-row: 2 / span 2;
    }
}

/********************* 
Grid pattern 3
**********************/
.brand-grid-pattern-3 {
    grid-template-columns: 1fr;
    background-color: transparent;
    max-width: 1200px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    .brand-grid-pattern-3 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-3-vertical-image {
        max-height: 420px
    }
}


/********************* 
Responsive layouts
**********************/

@media only screen and (min-width: 1350px) {
    .brand-grid-pattern-1, .brand-grid-pattern-2 {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1600px) {
    .brand-grid-pattern-1, .brand-grid-pattern-2 {
        max-width: 1250px;
    }
}

@media only screen and (min-width: 1900px) {
    .brand-grid-pattern-1, .brand-grid-pattern-2 {
        max-width: 1500px;
    }
}

@media only screen and (min-width: 2100px) {
    .brand-grid-pattern-1, .brand-grid-pattern-2 {
        max-width: 1600px;
    }
}

@media only screen and (min-width: 2600px) {
    .brand-grid-pattern-1, .brand-grid-pattern-2 {
        max-width: 2100px;
    }
}



/********************* 
Misc 
**********************/
.brand-hero {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    background-image: url("images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
    max-height: 680px;
    overflow: hidden;
    position: relative;
}

.brand-hero h1 {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .brand-hero h1 {
        font-size: 7rem;
        margin-right: -30rem;
    }
}

.white-bg {
    background-color: #fff;
}

.brand-script-text-container {
    background-image: url("images-new/BrandLandingPage-PatternRow-v3.svg");
    background-size: cover;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    padding: 4rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .brand-script-text-container {
        padding: 6rem;
    }
}

.brand-alum-text-container {
    padding: 3rem;
}

@media only screen and (min-width: 768px) {
    .brand-alum-text-container {
        padding: 1.8rem;
    }
}

@media only screen and (min-width: 1180px) {
    .brand-alum-text-container {
        padding: 5rem;
    }
}

/* *********************
Typography styles 
********************** */
.brand-script-text-container h2 {
    color: #9B0000;
    font-size: 2.4rem;
    line-height: 1.2;
    font-style: italic;
    font-weight: 700;
}

.brand-quote {
    font-size: 1.6rem;
    line-height: 1.3;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 560px;
}

@media only screen and (min-width: 768px) and (max-width: 890px) {
    .brand-quote {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 2000px) {
    .brand-script-text-container h2 {
        font-size: 3rem;
    }
    
    .brand-quote {
        font-size: 2rem;
    }

    .brand-alum-name {
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .brand-alum-job-city {
        font-size: 1.1rem;
    }
}

.brand-alum-details {
    line-height: 1.3;
    margin-bottom: 0;
}

.brand-alum-name {
    color: #9B0000;
    font-weight: 600;
}

.brand-alum-job-city {
    font-size: .9rem;
    font-weight: 600;
}

.script-text-special {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
}